{% extends 'base.html.twig' %}

{% block title %}Sign in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Do you want to leave your account ? {{ app.user.userIdentifier }}, <a href="{{ path('app_home') }}">Yes</a>
        </div>
    {% endif %}

   
</form>
{% endblock %}
