{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block meta %}Contact{% endblock %}



{% block body %}

{# <style>
    body {background-color: #375f75;}
</style> #}

<section class="contact__section" id="contact">
    <div class="contact__container grid">

      <div class="contact__data">
        <h2 class="section__title-2">
          <span>CONTACT</span>
        </h2>
        <p class="contact__description-1">
          Send us your message and we'll get
          back to you.
        </p>

        <p class="contact__description-2">
          We need your <b>Nickname</b> and <b>Email Address</b> and we garantee
          to use your email address  for replying you only.
        </p>


      </div>

      <div class="contact__mail">
   
        <h2 class="contact__title">ENTER YOUR DATAS IN THIS FORM</h2>

        <form action="" class="contact__form" id="contact-form" method="POST">
          <div class="contact__group">
            <div class="contact__box">
              <input
                type="text"
                name="user_name"
                class="contact__input"
                id="name"
                required
                placeholder="Nickname"
              />
              <label for="name" class="contact__label">Nickname</label>
            </div>

            <div class="contact__box">
              <input
                type="email"
                name="user_email"
                class="contact__input"
                id="email"
                required
                placeholder="Email Address"
              />
              <label for="email" class="contact__label"
                >Email Address</label
              >
            </div>
          </div>

          <div class="contact__box">
            <input
              type="text"
              name="user_subject"
              class="contact__input"
              id="subject"
              required
              placeholder="Subject"
            />
            <label for="subject" class="contact__label">Subject</label>
          </div>

          <div class="contact__box contact__area">
            <textarea
              name="user_message"
              id="message"
              class="contact__input"
              required
              placeholder="Message"
            ></textarea>
            <label for="message" class="contact__label">Message</label>
          </div>

          <p class="contact__message" id="contact-message"></p>

          <button type="submit" class="contact__button button">
            <i class="ri-send-plane-line"></i> Send Message
          </button>

        </form>
      </div>
      <br>
      <div class="geometric-box"></div>

      <div class="contact__social">
        <img
          src="assets/img/curved-arrow.svg"
          alt=""
          class="contact__social-arrow"
        />
        <div class="contact__social-data">
          <div>
            <p class="contact__social-description-1">
              If you don't want to send emails >>>
            </p>
            <p class="contact__social-description-2">
              Write us on our social networks
            </p>
          </div>
          <div class="contact__social-links">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="contact__social-link"
            >
              <i class="ri-facebook-circle-line"></i>
            </a>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="contact__social-link"
            >
              <i class="ri-instagram-line"></i>
            </a>

            <a
              href="https://www.linkedin.com/"
              target="_blank"
              class="contact__social-link"
            >
              <i class="ri-linkedin-box-line"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
</section>

<section>
    <div id="contact-infos">
                <address><span><i class="ri-mail-fill"></i></span> admin@rainbow.com</address>
                <address><span><i class="ri-cellphone-fill"></i></span>+330301020304</address>
                <address><span><i class="ri-map-pin-fill"></i></span>01 Photostreet 67100 Strasbourg</address>
                <br>
     </div>
 <section>
    
     
{% endblock %}
