{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}
{% block meta %}Privacy Policy{% endblock %}


{% block body %}

<div>
        <h1>Private Policy</h1>
</div>


<section>
    <p>
          All personal and confidential data of Users are respected.
        <br>
        <br>
          Users are entitled to publish only their photographs (i.e. made by themselves).
        <br>
        <br>
          Plagiarism of images entails closing the account.
        <br>
        <br>
          All parts of composite photographs should consist of images made by photographers themselves.
        <br>
        <br>
          If any doubt arises about the authorship, the Administration may request the source photographs.
        <br> 
        <br>
          In the case of refusal to provide the source photographs the publication may be canceled.
        <br>
        <br>
    </p>
</section>


     
{% endblock %}