{% extends 'base.html.twig' %}

{% block title %}Privacy Policy - PHOTOCLUB{% endblock %}
{% block meta %}Discover the policies on website usage, services, and purchases.{% endblock %}


{% block body %}

<div>

        <h1>Private Policy</h1>

        </div>
    </div>
</div>


<section class="content dashboard create-event" id="privacy-policy">
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores labore sunt officiis dolore accusantium? Id cumque labore ipsum! Officiis laborum unde aut nobis magnam corporis modi rerum dolore, quas vel.</h1>
</section>


     
{% endblock %}