{% extends 'base.html.twig' %}

{% block title %}Terms of Use - PHOTOCLUB{% endblock %}
{% block meta %}Discover the policies on website usage, services, and purchases.{% endblock %}


{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">Terms of Use</h1>
        <div class="subtitle">
            <p class="banner-text">Be informed</p>
        </div>
    </div>
</div>


<section class="content dashboard create-event" id="privacy-policy">
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores labore sunt officiis dolore accusantium? Id cumque labore ipsum! Officiis laborum unde aut nobis magnam corporis modi rerum dolore, quas vel.</h1>
</section>


     
{% endblock %}
