{% extends 'base.html.twig' %}

{% block title %}Mo{% endblock %}

{% block body %}
<br><br><br><br>
    <div class="container">
        <br>
        <h2 class="section__title-1"><span>Change this comment</span></h2>
        <br>

        {{ form_start(formComment) }}
            {{ form_widget(formComment) }}
            <button class="btn btn-primary">Save</button>
        {{ form_end(formComment) }}
    </div>
    <br>
{% endblock %}