{% extends 'base.html.twig' %}

{% block title %}Activity's Schedule{% endblock %}
{% block meta %}Activity's schedule{% endblock %}


{% block body %}

<div class="banner">
    <div class="content">
        <h1 class="banner-title">OUR SCHEDULE >></h1>
        <div class="subtitle">
            <p class="banner-text">For better planning of your business and cultural life</p>
            <br>
            <br>
        </div>
    </div>
</div>
   
</section>
{% endblock %}
