{% extends 'base.html.twig' %}

{% block title %}Add new category{% endblock %}

{% block body %}

    <br><br><br><br>
    <h3>Add new category</h3>
    <br>
    {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success">Add</button>
        {{ form_end(form) }}
    {% else %}
        <p>You haven't any right to add new category</p>
    {% endif %}
{% endblock %}