{% extends 'base.html.twig' %}

{% block title %}Add new category{% endblock %}

{% block body %}

    <br><br><br><br>
    <h2 class="section__title-1"><span>Add new category</span></h2>
    <br>
    {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success">Add</button>
        {{ form_end(form) }}
    {% else %}
        <p style="color: red;">You haven't any right to add new category</p>
    {% endif %}
    <br>
{% endblock %}