{% extends 'base.html.twig' %}

{% block title %}Statistical Details{% endblock %}

{% block body %}

    <br><br><br><br><br>
    <h2 class="section__title-1"><span>Statistical Details</span></h2>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Number of users :</th>
                <th>Number of blocked users : </th>
                <th>Number of deleted users : </th>
            </tr>
            <hr>    
        </thead>
        <tbody>
                <tr>
                   <td>{{ usersCount }}</td>
                   <td>{{ usersBlockedCount }}</td>
                   <td>{{ usersAnonymeCount }}</td>
                </tr>
    </table>
    <br>
{% endblock %}