{% extends 'base.html.twig' %}

{% block title %}Statistical Details{% endblock %}

{% block body %}

    <br><br><br><br><br>
    <h3>Statistical Details</h3>
    <br>
    <hr>
    <p>Numbers of users : {{ usersCount }}</p>
    <p>Numbers of blocked users : {{ usersBlockedCount }}</p>
    <p>Numbers of deleted users : {{ usersAnonymeCount }}</p>
    <br>
{% endblock %}