{% extends 'base.html.twig' %}

{% block title %}Category's modification{% endblock %}

{% block body %}
<br><br><br><br><br>
    <h2 class="section__title-1"><span>Modify the category</span></h2>
    {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-warning">Modify</button>
        {{ form_end(form) }}
    {% else %}
        <p>Yous haven't any right to do this action</p>
    {% endif %}
{% endblock %}