{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block body %}

<br><br><br><br><br>

<h3>Page not found !</h3>
<br>

<p>This page is absent or deleted</p>
<br>

{% endblock %}
