{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<br><br><br><br>
    <h3>Contacts</h3>
<br>
    <ul>
      {% for contact in contacts %}
        <li>
            {# //--> On a ajouté la méthode string pour sender et pseudo dans ContactController lié à l'atribut "text" de l'entité Contact #}
            <strong>{{ contact.sender.pseudo }}</strong>
            {% if not contact.seen %}
                <span>New</span>
            {% endif %}
            <p>{{ contact.text }}</p>
            <small>{{ contact.dateMessage|date('d/m/Y H:i') }}</small>
            <a href="{{ path('read_messages', {id: contact.id}) }}" class="btn btn-sm btn-success">Make seen</a>
        </li>
      {% endfor %}
    </ul>

{% endblock %}
 