{% extends 'base.html.twig' %}

{% block body %}
<br><br><br><br>
    <h2 class="section__title-1"><span>Messages sent by {{ user.pseudo }}</span></h2>
    <br>

    {% for contact in contacts %}
        <div>{{ contact.dateMessage|date('d/m/Y H:i') }} - {{ contact.text}}</div>
    {% endfor%}    
    <br>
{% endblock %}