{% extends 'base.html.twig' %}

{% block title %}Consumer's list{% endblock %}

{% block body %}
<br><br><br><br>
    <h2 class="section__title-2"><span>Consumer's list</span></h2>


    {% for consumer in consumers %}
        <a href="{{ path('show_consumer', {'id': consumer.id})}}">{{consumer}}</a> <br>
    {% endfor %}

{% endblock %}